.logo {
    width:30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    margin: 13px 28px 16px 0;
    float: left;
  }
  .content{
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .ant-layout{
    position: absolute;
    width: 100%;
    height: 100%;
  }